<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.julienandreu.karabiner-elements</string>
    <!-- Launch Karabiner-Elements at login (-g: don't steal focus). -->
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/open</string>
        <string>-ga</string>
        <string>Karabiner-Elements</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
